.description-container{
    background-color: rgba(191, 191, 191,0.5);
    padding-top: 1%;
    width: 80%;
    line-height: 50%;
    margin-left: 10%;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    overflow: auto;
    padding-bottom: 1%;
}

#description {
    min-width: 50%;
    min-height: 20%;
    color: white;
    border-radius: 8px;
    background: #2f3640;
}

.skills {
    background: #2f3640;
    height: 40px;
    color: white;
    border-radius: 8px;
    overflow: auto;
}

select option:checked {
    background: #33072d -webkit-linear-gradient(bottom, #4c4b75 0%, #644b6e 100%);
}

.text-input {
    background: #2f3640;
    height: 30px;
    color: white;
    border-radius: 8px;
    overflow: auto;
    margin-bottom: 1%;
    
}

.description {
    padding: 2%;
    line-height: 16px;
}

.description-textarea {
    line-height: 16px;
    padding: 1%;
}

.text-input::placeholder {
    color: white;
}

.button {
    background: #2f3640;
    height: 38px;
    color: white;
    border-radius: 8px;
}

@media only screen and (max-width: 1100px) {

    .description-textarea {
        width: 100%;
        margin-left: 5%;
    }

    .bio-description {
        width: 90%;
        
    }

}