.profileImage{
    text-align: center;
}

.profile-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.description-container{
    background-color: rgba(191, 191, 191,0.5);
    padding-top: 1%;
    width: 75%;
    line-height: 50%;
    margin-left: 12.5%;
    margin-bottom: 2%;
    text-align: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.description-heading{
   text-decoration: underline;
}

.editProfile {
    padding-top: 1%;
    text-align: center;
}

.page-box {
    width: 75%;
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-bottom: 1%;
    bottom: 10px;
    font-size:1.5vw;
}

.vacancy {
    background-color: rgba(191, 191, 191,0.5);
    padding-top: 1%;
    width: 75%;
    line-height: 50%;
    margin-left: 12.5%;
    margin-bottom: 2%;
    text-align: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    word-wrap: break-word;
}

.vacancy p {
    padding-top: 10px;
}

.vacancyDetails.text-left{
    line-height: 1.5em;
}

.button {
    background: #2f3640;
    height: 38px;
    color: white;
    border-radius: 8px;
}