p {
    color: black;
}

/* unvisited link */
p:link {
    color: black;
}
  
/* visited link */
p:visited {
    color: black;
}
  
/* mouse over link */
p:hover {
    color: black;
}

/* selected link */
p:active {
    color: black;
}

.page-box {
    width: 75%;
    text-align: center;
    margin-left: 12.5%;
    padding-bottom: 1%;
    bottom: 10px;
    font-size:1.5vw;
}

.vacancy {
    background-color: rgba(191, 191, 191,0.6);
    padding-top: 1%;
    width: 60%;
    line-height: 50%;
    margin-left: 20%;
    margin-bottom: 2%;
    text-align: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    word-wrap: break-word;
}

.container.vacancy {
    width: 70%;
}

.vacancy p {
    padding-top: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.skillsTable {
    text-align: center;
    border-spacing: 5px;
    margin-left:auto;
    margin-right:auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-collapse: separate;
}

.skillsTable thead tr {
    background-color: #79b6ca;
    color: #ffffff;
    text-align: center;
}

.skillsTable th,
.skillsTable td {
    padding: 12px 15px;
    text-align: center;
}

.skillsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.skillsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.skillsTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.skillsTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.head.vacancyDetails.text-lg-center{
    padding-top: 50rem;
   
}

.vacancyDetails.text-left{
    line-height: 1.5em;
}

.showskills{
    height: 10%;
    float: left;
    background: #2f3640;
    color: white;
    border-radius: 8px;
    margin-left: 2%;
}
.skillSelect {
    background: #2f3640;
    height: 40px;
    color: white;
    border-radius: 8px;
    overflow: hidden;
}

select option:checked {
    background: #33072d -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
}

.sort {
    background: #2f3640;
    height: 38px;
    color: white;
    border-radius: 8px;
    margin-left: 2%;
}

@media (max-width: 1000px) {  
    .job_logo {
        position: relative;
    left: 30px;
    border: 3px solid #73AD21;
    } 

    .container.vacancy {
        width: 100%;
    }

    .head.vacancyDetails.text-lg-center{
        font-size: 125%;
        padding-top: 50rem;
    
    }
}

.img-fluid {
    float: right;
    margin-right: 5%;
}
