.profileImage{
    text-align: center;
}

.profile-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.description-container{
    width: 75%;
    background-color: rgb(208, 206, 206);
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    bottom: 10px;
    border-radius: 8px;
}

.description-heading{
   text-decoration: underline;
}

.editProfile {
    padding-top: 1%;
    text-align: center;
}