/* unvisited link */
a:link {
    color: black;
}
  
/* visited link */
a:visited {
    color: black;
}
  
/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

.userDetails {
    font-size: 120%;
    top: 5%;
}

.page-box {
    padding-top: 1%;
    width: 100%;
    line-height: 50%;
    margin-left: 0%;
    margin-bottom: 2%;
    text-align: center;
    overflow: hidden;
}

.userImage {
    width: 20vw;
    height: 20vw;
    max-width: 160px;
    max-height: 160px;
    overflow: hidden;
    border-radius:50%; 
    object-fit:cover; 
    margin: 2%;
    float: left;
}

.user {
    background-color: rgba(191, 191, 191,0.6);
    padding-top: 1%;
    width: 50%;
    padding: 2% 3%;
    line-height: 40%;
    margin-left: 25%;
    margin-bottom: 2%;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.search {
    display: flex;
    justify-content: center;
}

.selectedForm {
    border-radius: 8px;
    height: 30px;
    overflow: hidden;
    margin: 2%;
    margin-bottom: 1%;
}

.select {
    background: #2f3640;
    color: white;
    height: 30px;
    border-radius: 8px;
}


.input {
    background: #2f3640;
    height: 30px;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    margin: 2%;
    margin-bottom: 1%;
}

.submit {
    background: #2f3640;
    height: 30px;
    color: white;
    border-radius: 8px;
    margin: 2%;
    
}

.input::placeholder {
    color: white;
}

.connectionImage {
    padding-bottom: 3%;
}

.btn-friend-req {
    background: #2f3640;
    height: 38px;
    color: white;
    border-radius: 8px;
    margin: 4%;
}

.friend-req-details {
    margin: 4%;
}

.btn-unconnect {
    background: #9b0404;
    height: 38px;
    color: white;
    border-radius: 8px;
    margin: 4%;
}

.pending {
    width: fit-content;
    height: fit-content;
    border:1px;
    border-style:solid;
    border-color:#000000; 
    float: right;
    margin-right: 25%;
    padding: 2%;
    margin-top: 10%;
}

@media only screen and (max-width: 1100px) {

    .user {
        width: 70%;
        margin-left: 15%;
    }

    .page-box {
        width: 100%;
        left: 0%;
        padding:0;
        margin: 0;
    }

}